<header>
  <div class="container">
    <button class="menu">
      <img src="assets/menu.svg" alt="Menu" />
      MENÜ
    </button>
    <div class="text">
      <h1>
        Übersetzungsbüro Schuster<br />
        Deutsch <-> Rumänisch
      </h1>
      <p>
        Öffentlich bestellter und beeidigter Urkundenübersetzer<br />
        für die rumänische Sprache (Landgericht Rottweil)<br />
        Dipl.-Ing. Maschinenbau, Dipl.-Gewerbelehrer, beeidigter
        Urkundenübersetzer
      </p>
    </div>
    <otto-ui-logo></otto-ui-logo>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li>
        <a routerLink="/preise" routerLinkActive="active">Preise</a>
      </li>
      <li>
        <a routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
      </li>
      <li class="phone">+49 7422 567820</li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
