:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 5px;
  background-image: url('../assets/Muntii_Bucegi.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
}

.text {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);

  h1,
  p {
    margin: 0;
  }

  h1 {
    font-size: 1.5rem;
  }
}

button.menu {
  width: 60px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  outline: none;

  & > img {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
