<header>
  <div class="container">
    <!--    <button class="menu">-->
    <!--      <img src="assets/menu.svg" alt="Menu" />-->
    <!--      Menü-->
    <!--    </button>-->
    <div class="text">
      <h1>
        Übersetzungsbüro Schuster<br />
        Deutsch <-> Rumänisch
      </h1>
      <p>
        Öffentlich bestellter und beeidigter Urkundenübersetzer<br />
        für die rumänische Sprache (Landgericht Rottweil)<br />
        Dipl.-Ing. Maschinenbau, Dipl.-Gewerbelehrer, beeidigter Urkundenübersetzer
      </p>
    </div>
    <otto-shared-ui-logo></otto-shared-ui-logo>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li>
        <a routerLink="/preise" routerLinkActive="active">Preise</a>
      </li>
      <li>
        <a routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
      </li>
      <li>
        <a routerLink="/impressum" routerLinkActive="active">Impressum</a>
      </li>
      <li class="language">
        <button>
          <img src="assets/deutschland_flagge.jpg" alt="Deutschlandflagge" />
        </button>
      </li>
      <li class="phone">
        <a href="tel:+49 7422 567820">+49 (0) 7422 567820</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
