---

import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Preise ottoschuster.de">
    <Header />
    <main>
        hallo
    </main>
</Layout>