---
import { Image } from "astro:assets";
import deutschlandFlagge from "../images/deutschland_flagge.webp";
import rumänienFlagge from "../images/rumänien_flagge.webp";

import { getRelativeLocaleUrl } from "astro:i18n";

const localeIsRomanian = Astro.url.pathname.includes("/ro/");
const pathWithoutLocale = Astro.url.pathname.split("/")[2];
---

<header>
  <div class="content">
    <h1 class="fw-normal">Übersetzungsbüro Schuster</h1>

    <div class="language-switcher">
      <a
        id="de"
        class={!localeIsRomanian ? "active" : ""}
        href={getRelativeLocaleUrl("de", pathWithoutLocale)}
        ><Image
          src={deutschlandFlagge}
          alt="Zu deutscher Sprache wechseln"
          width="50"
        /></a
      >
      <a
        id="ro"
        class={localeIsRomanian ? "active" : ""}
        href={getRelativeLocaleUrl("ro", pathWithoutLocale)}
        ><Image
          src={rumänienFlagge}
          alt="Zu rumänischer Sprache wechseln"
          width="50"
        /></a
      >
    </div>

    <svg
      class="hamburger"
      width="36"
      height="36"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 5L20 5"
        stroke="#141B34"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M4 12L20 12"
        stroke="#141B34"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M4 19L20 19"
        stroke="#141B34"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>

    <nav>
      <ul>
        <li>
          <a
            class={pathWithoutLocale === "" ? "active" : ""}
            href={getRelativeLocaleUrl(localeIsRomanian ? "ro" : "de", "")}
            >Startseite</a
          >
        </li>
        <li>
          <a
            class={pathWithoutLocale === "preise" ? "active" : ""}
            href={getRelativeLocaleUrl(
              pathWithoutLocale === "preise" ? "ro" : "de",
              "preise",
            )}>Preise</a
          >
        </li>
        <li>
          <a
            class={pathWithoutLocale === "kontakt" ? "active" : ""}
            href={getRelativeLocaleUrl(
              pathWithoutLocale === "kontakt" ? "ro" : "de",
              "kontakt",
            )}>Kontakt</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    padding: 4px;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid var(--accent);
    background-color: white;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  h1 {
    font-size: clamp(1rem, 3vw, 3rem);
  }

  .language-switcher {
    align-items: end;
    display: flex;
    gap: 4px;

    & .active {
      border: 2px solid black;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    &:hover {
      background-color: var(--accent);
      border-radius: 4px;
    }
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: inline-flex;
    gap: 1em;

    & li {
      list-style: none;
    }

    & a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  @media (width > 800px) {
    nav {
      & li {
        display: inline-block;
        margin-left: 40px;
        padding-top: 23px;

        position: relative;
      }

      & a {
        font-size: 14px;

        &:hover,
        &:active {
          color: #000;

          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  @media (width <= 800px) {
    .hamburger {
      display: block;
    }

    nav {
      display: none;
      position: fixed;
      inset: 0;
      top: var(--header-height);
      background-color: white;

      & ul {
        flex-direction: column;
        margin-top: 20px;
      }

      & li {
        display: flex;
        justify-content: center;
        border: 2px solid black;
        border-radius: 4px;
      }

      & a {
        padding: 12px 36px;
      }

      &.expanded {
        display: flex;
        justify-content: center;
      }
    }
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector(".hamburger").addEventListener("click", () => {
      document.querySelector("nav").classList.toggle("expanded");
    });
  });
</script>
