---
import { Image } from "astro:assets";
import deutschlandFlagge from "../images/deutschland_flagge.webp";
import rumänienFlagge from "../images/rumänien_flagge.webp";

import { getRelativeLocaleUrl } from "astro:i18n";

const localeIsRomanian = Astro.url.pathname.includes("/ro/");
const pathWithoutLocale = Astro.url.pathname.split("/")[2];
---

<header>
  <div class="content">
    <h1 class="fw-normal">Übersetzungsbüro Schuster</h1>

    <div class="language-switcher">
      <a
        id="de"
        class={!localeIsRomanian ? "active" : ""}
        href={getRelativeLocaleUrl("de", pathWithoutLocale)}
        ><Image
          src={deutschlandFlagge}
          alt="Zu deutscher Sprache wechseln"
          width="50"
        /></a
      >
      <a
        id="ro"
        class={localeIsRomanian ? "active" : ""}
        href={getRelativeLocaleUrl("ro", pathWithoutLocale)}
        ><Image
          src={rumänienFlagge}
          alt="Zu rumänischer Sprache wechseln"
          width="50"
        /></a
      >
    </div>

    <nav>
      <ul>
        <li>
          <a
            class={pathWithoutLocale === "" ? "active" : ""}
            href={getRelativeLocaleUrl(localeIsRomanian ? "ro" : "de", "")}
            >Startseite</a
          >
        </li>
        <li>
          <a
            class={pathWithoutLocale === "preise" ? "active" : ""}
            href={getRelativeLocaleUrl(
              pathWithoutLocale === "preise" ? "ro" : "de",
              "preise",
            )}>Preise</a
          >
        </li>
        <li>
          <a
            class={pathWithoutLocale === "kontakt" ? "active" : ""}
            href={getRelativeLocaleUrl(
              pathWithoutLocale === "kontakt" ? "ro" : "de",
              "kontakt",
            )}>Kontakt</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid var(--accent);
    background-color: white;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .language-switcher {
    align-items: end;
    display: flex;
    gap: 4px;

    & .active {
      border: 2px solid black;
    }
  }
  ul {
    display: flex;
    gap: 1em;

    & li {
      list-style: none;
    }
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 23px;

    position: relative;
  }

  nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }

  nav a:hover,
  nav a.active {
    color: #000;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: var(--accent);

    position: absolute;
    top: 0;
    width: 0;

    transition: all ease-in-out 250ms;
  }

  nav a:hover::before,
  nav a.active::before {
    width: 100%;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    document.querySelector(".hamburger").addEventListener("click", () => {
      document.querySelector(".nav-links").classList.toggle("expanded");
    });
  });
</script>
