---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      /* the props */
      @import "https://unpkg.com/open-props";

      /* optional imports that use the props */
      @import "https://unpkg.com/open-props/normalize.min.css";
      @import "https://unpkg.com/open-props/buttons.min.css";

      :root {
        --max-width-content: 1200px;
        --accent: hotpink;
      }
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      * {
        margin: 0;
      }
      html {
        font-family: "Zilla Slab", serif;
        font-size: clamp(1.2rem, 2vw - 2rem, 2.5rem);
      }
      body {
        text-rendering: optimizeSpeed;
        line-height: 1.6;
      }
      h2 {
        font-weight: 400;
        padding-block: 20px 12px;
      }
      img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        shape-margin: 1rem;
        font-style: italic;
      }
      svg {
        pointer-events: none;
      }
      .fw-normal {
        font-weight: 400;
      }
      .fs-2 {
        font-size: 1.2rem;
      }
      .fs-5 {
        font-size: 2rem;
      }
      .sr-only {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
      .content {
        margin-inline: auto;
        max-width: var(--max-width-content);
        padding-inline: 12px;
      }
      .mt-1 {
        margin-top: 4px;
      }
      .mt-3 {
        margin-top: 12px;
      }
      .mt-10 {
        margin-top: 40px;
      }
    </style>
  </body>
</html>
